.file-drop {
    position: relative;
}

.file-drop .file-drop-target {
    position: absolute;
    z-index: -1;
}

.datetime-local {
    margin: 10px;
    border-radius: 3px;
    border: 1px solid;
}

textarea {
    font-size: 20px;
    font-family: Roboto;
}

.ant-input-textarea-show-count > .ant-input {
    font-size: 20px;
    font-family: Roboto;
}

/*.file-drop > .file-drop-target.file-drop-dragging-over-frame {*/
/*    !* overlay a black mask when dragging over the frame *!*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: none;*/
/*    background-color: rgba(0, 0, 0, 0.65);*/
/*    box-shadow: none;*/
/*    z-index: 50;*/
/*    opacity: 0.5;*/

/*    !* typography *!*/
/*    color: white;*/
/*}*/

/*.file-drop > .file-drop-target.file-drop-dragging-over-target {*/
/*    !* turn stuff orange when we are dragging over the target *!*/
/*    color: #ff6e40;*/
/*    box-shadow: 0 0 13px 3px #ff6e40;*/
/*}*/

